@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-600.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-800.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.title {
  margin: 0 auto;
  color: rgba(51, 51, 51, 1);
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.button:checked {
  border: none;
}

.btn-reset {
  border: none;
}

.container {
  max-width: 1778px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-bottom: 8px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding-top: 14px;
  outline: none;
  transition: .4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
}

.header__logo:focus {
  outline: 2px solid #FF9900;
  transition: .4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
}

.header__nav {
  display: flex;
  align-items: center;
  padding-top: 11px;
}

.nav {
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 68px;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  outline: none;
  border-bottom: 1px solid transparent;
  transition: border-color .4s ease;
  -webkit-transition: border-color .4s ease;
  -moz-transition: border-color .4s ease;
  -ms-transition: border-color .4s ease;
  -o-transition: border-color .4s ease;
}

.header__link:focus {
  color: rgba(51, 51, 51, 1);
  outline: 2px solid #FF9900;
  outline-offset: 6px;
  transition: border-color .4s ease;
  -webkit-transition: border-color .4s ease;
  -moz-transition: border-color .4s ease;
  -ms-transition: border-color .4s ease;
  -o-transition: border-color .4s ease;
}

.header__link:hover {
  text-decoration: 2px underline #ff9900;
  transition: border-color .4s ease;
  -webkit-transition: border-color .4s ease;
  -moz-transition: border-color .4s ease;
  -ms-transition: border-color .4s ease;
  -o-transition: border-color .4s ease;
}

.header__link:active {
  color: #e1670e;
  text-decoration: 2px underline #e1670e;
  outline: none;
  transition: .4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
}

.header__item {
  font-size: 18px;
  font-weight: 600;
}

.header__item:not(:last-child) {
  margin-right: 84px;
}

.burger {
  display: none;
}

.nav__close {
  display: none;
}

.nav__close:active rect {
  fill: #e1670e;
  transition: .4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
}

.search {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
  outline: none;
}

.active .search {
  right: 93px;
}

.search__form {
  height: 50px;
  width: 50px;
  position: relative;
  transform: translate(6px, 5px);
  -webkit-transform: translate(6px, 5px);
  -moz-transform: translate(6px, 5px);
  -ms-transform: translate(6px, 5px);
  -o-transform: translate(6px, 5px);
}

.active .search__form {
  min-width: 540px;
  height: 60px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translate(0px, 16px);
  transition: transform .3s ease;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  -webkit-transform: translate(0px, 6px);
  -moz-transform: translate(0px, 6px);
  -ms-transform: translate(0px, 6px);
  -o-transform: translate(0px, 6px);
}

.search__input {
  width: 100%;
  height: 60px;
  padding: 0px 47px 0 13px;
  opacity: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #adadad;
  transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
}

.search__input::placeholder {
  margin-bottom: 2px;
  border-bottom: 1px solid #adadad;
}

.active .search__input {
  opacity: 1;
}

.search__icon {
  width: 33px;
  height: 35px;
  border: none;
  background: rgba(255, 255, 255, 1);
  padding: 0px;
  outline: none;
  position: relative;
  transform: translate(48%, -141%);
  z-index: 2;
  cursor: pointer;
  -webkit-transform: translate(48%, -141%);
  -moz-transform: translate(48%, -141%);
  -ms-transform: translate(48%, -141%);
  -o-transform: translate(48%, -141%);
}

.active .search__icon {
  position: absolute;
  right: 0px;
  transform: translate(-110%, 47%);
  -webkit-transform: translate(-110%, 47%);
  -moz-transform: translate(-110%, 47%);
  -ms-transform: translate(-110%, 47%);
  -o-transform: translate(-110%, 47%);
}

.search__icon::before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
}

.search__icon::after {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
}

.close {
  position: absolute;
  z-index: 1;
  top: 19px;
  right: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
}

.active .close {
  top: 19px;
  right: 3px;
  transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
}

.close::before {
  position: absolute;
  content: '';
  left: 10px;
  top: 0px;
}

.close::after {
  position: absolute;
  content: '';
  left: 0px;
  top: 10px;
}

.search__icon:focus {
  outline: 2px solid #FF9900;
  outline-offset: 6px;
}

.active .search__icon:focus {
  outline: none;
}

.search__icon:hover svg rect {
  fill: #ff9900;
}

.search__icon:hover svg path {
  stroke: #ff9900;
}

.close:focus svg {
  outline: 2px solid #FF9900;
  outline-offset: 6px;
}

.close:hover svg rect {
  fill: #ff9900;
  transition: fill .3s ease-in-out;
  -webkit-transition: fill .3s ease-in-out;
  -moz-transition: fill .3s ease-in-out;
  -ms-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
}

.close:hover svg circle {
  stroke: #ff9900;
  transition: stroke .3s ease-in-out;
  -webkit-transition: stroke .3s ease-in-out;
  -moz-transition: stroke .3s ease-in-out;
  -ms-transition: stroke .3s ease-in-out;
  -o-transition: stroke .3s ease-in-out;
}

.close:active svg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.close:active svg rect {
  fill: rgba(51, 51, 51, 1);
  transition: fill .3s ease-in-out;
  -webkit-transition: fill .3s ease-in-out;
  -moz-transition: fill .3s ease-in-out;
  -ms-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
}

.close:active svg circle {
  stroke: rgba(51, 51, 51, 1);
  transition: stroke .3s ease-in-out;
  -webkit-transition: stroke .3s ease-in-out;
  -moz-transition: stroke .3s ease-in-out;
  -ms-transition: stroke .3s ease-in-out;
  -o-transition: stroke .3s ease-in-out;
}

.hero {
  padding-bottom: 100px;
}

.hero__banner1 {
  background-image: url("../img/slide-hover1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__banner2 {
  background-image: url("../img/slide-hover2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__banner3 {
  background-image: url("../img/slide-hover3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__content {
  max-width: 53%;
  display: inline-block;
  padding-left: 79px;
  padding-top: 100px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #adadad;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 24px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 1);
}

.content__heading {
  margin: 0;
  margin-bottom: 21px;
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
}

.content__description {
  margin: 0;
  margin-bottom: 88px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.content__button {
  padding: 19px 33px;
  margin-bottom: 98px;
  background: #ff9900;
  font-size: 24px;
  line-height: 41px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}

.content__button:focus {
  background-color: #F7B045;
  outline: 2px solid #FF9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.content__button:hover {
  background-color: #F7B045;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.content__button:active {
  background-color: #e1670e;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.about {
  padding-bottom: 104px;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.about__title {
  margin: 0;
  margin-bottom: 21px;
}

.about__description {
  max-width: 70%;
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 1);
}

.about__info {
  display: flex;
  flex-direction: row;
}

.about__suggest {
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
  margin-right: 30px;
  background-image: url("../img/about-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.suggest {
  display: flex;
  align-items: flex-end;
}

.suggest__info {
  display: flex;
  align-items: center;
  padding: 45px;
  background: rgba(0, 0, 0, 0.5);
}

.suggest__description {
  margin: 0 auto;
  margin-right: 139px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

.about__stroke svg {
  padding-right: 20px;
}

.suggest__button {
  padding: 18px 38px;
  border: 3px solid #ff9900;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}

.suggest__button:focus {
  background-color: #ff9900;
  color: rgba(255, 255, 255, 1);
  outline: 2px solid #FF9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.suggest__button:hover {
  background-color: #ff9900;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.suggest__button:active {
  background-color: #e1670e;
  border: 3px solid #e1670e;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.about__square {
  display: flex;
  max-width: 50%;
  flex-direction: column;
}

.square {
  flex-basis: 100%;
  border: 1px solid #cacaca;
  margin-bottom: 30px;
  padding: 67px 90px 59px 302px;
}

.square-1 {
  background-image: url("../img/Group-1.svg");
  background-repeat: no-repeat;
  background-position: 9% 50%;
}

.square-2 {
  background-image: url("../img/Group-2.svg");
  background-repeat: no-repeat;
  background-position: 9% 50%;
  margin-bottom: 0;
}

.square__title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.square__description {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.tab-content {
  display: none;
  margin-top: 34px;
}

.tab-content-active {
  display: block;
}

.operate {
  padding-bottom: 97px;
}

.operate__title {
  padding-bottom: 48px;
}

.operate__list {
  display: flex;
  align-items: center;
}

.operate__item:not(:last-child) {
  margin-right: 84px;
}

.operate__button {
  border: none;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  background: none;
  outline: none;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}

.operate__button:focus {
  outline: 2px solid #ff9900;
  outline-offset: 6px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.operate__button:hover {
  color: #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.operate__button:active {
  color: #e1670e;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.tabs__btn-active {
  color: #e1670e;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.operate__info {
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
}

.operate__info-left {
  flex: 0 1 45%;
}

.operate__heading {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.operate__desription {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.operate__desription-rubric {
  padding: 9px 1px 42px 2px;
  margin: 0;
}

.operate__block {
  display: flex;
  padding-top: 4px;
}

.operate__detail-info {
  padding: 19px 38px;
  margin-right: 25px;
  align-items: center;
  background: #ff9900;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  border: none;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}

.operate__detail:focus {
  background-color: #F7B045;
  transition: 0.3s ease-in-out;
  outline: 2px solid #ff9900;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.operate__detail:hover {
  background-color: #F7B045;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.operate__detail:active {
  background-color: #e1670e;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.operate__contract {
  padding: 19px 38px;
  border: 1px solid rgba(51, 51, 51, 1);
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.operate__contract:focus {
  background: #666;
  outline: 2px solid #666;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.operate__contract:hover {
  background: #666;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.operate__contract:active {
  background: #000;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.operate__info-right {
  position: relative;
  margin: 14px -2px 0 131px;
  width: 50.8%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.operate__info-right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.operate__consultant-1 {
  background-image: url("../img/operate1.jpg");
}

.operate__consultant-2 {
  background-image: url("../img/operate2.jpg");
}

.operate__consultant-3 {
  background-image: url("../img/operate3.jpg");
}

.operate__consultant-4 {
  background-image: url("../img/operate4.jpg");
}

.questions {
  padding-bottom: 100px;
}

.question__title {
  margin-bottom: 40px;
}

.questions__title {
  padding-top: 2px;
  padding-left: 2px;
}

.questions__list {
  padding-top: 38px;
}

.questions__item {
  margin-top: -1px;
  padding-left: 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgba(202, 202, 202, 1);
  outline: none;
  transition: border .3s ease;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  -ms-transition: border .3s ease;
  -o-transition: border .3s ease;
}

.questions__accordion {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 13px;
  line-height: 32px;
  transition: border .3s ease;
  cursor: pointer;
  outline: none;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  -ms-transition: border .3s ease;
  -o-transition: border .3s ease;
}

.questions__accordion:focus {
  outline: 2px solid #FF9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.questions__item:first-child {
  border-top: 1px solid rgba(202, 202, 202, 1)
}

.questions__item:hover {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.questions__item:hover,
.questions__item:hover .questions__title,
.questions__item:hover .questions__icon {
  color: #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.questions__item svg {
  transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
}

.questions__item svg ellipse {
  transition: fill .3s ease;
  -webkit-transition: fill .3s ease;
  -moz-transition: fill .3s ease;
  -ms-transition: fill .3s ease;
  -o-transition: fill .3s ease;
}

.questions__item:hover svg ellipse {
  fill: #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.questions__icon {
  width: 50px;
  height: 50px;
  outline: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.questions__icon:focus ellipse {
  fill: #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.ui-state-active .questions__icon {
  transform: rotate(45deg);
  transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  -ms-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  -o-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
}

.questions__title {
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: rgba(51, 51, 51, 1);
  opacity: none;
  transition: color .4s ease;
  -webkit-transition: color .4s ease;
  -moz-transition: color .4s ease;
  -ms-transition: color .4s ease;
  -o-transition: color .4s ease;
}

.questions__title:focus {
  outline: 2px solid #ff9900;
  transition: .4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
}

.questions__span {
  color: rgba(202, 202, 202, 1);
}

.questions__decription {
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: rgba(51, 51, 51, 1);
}

.footer {
  padding-top: 50px;
  background-color: #222;
}

.cotainer__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-right: 241px;
}

.footer__logo {
  margin-bottom: 26px;
  outline: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.footer__logo:focus {
  outline: 2px solid #ff9900;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.footer__nav {
  margin-bottom: 86px;
}

.footer__nav-intem {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.footer__nav-link {
  color: #cacaca;
  outline: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.footer__nav-link:focus {
  outline: 2px solid #ff9900;
  transition: .3s ease-in-out;
}

.social__list {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
}

.social__item {
  display: flex;
  margin-right: 23px;
}

.social__icon--facebook rect {
  fill: none;
  width: 60px;
  height: 60px;
  transition: fill 0.3s ease-in-out;
  -webkit-transition: fill 0.3s ease-in-out;
  -moz-transition: fill 0.3s ease-in-out;
  -ms-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
}

.social__icon--facebook:focus {
  outline: 2px solid #FF9900;
  outline-offset: 6px;
  transition: fill 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social__icon--facebook:focus rect {
  fill: none;
}

.social__icon--facebook:hover svg path {
  fill: #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social__icon--facebook:active svg path {
  fill: #e1670e;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social__icon--facebook:active svg rect {
  fill: none;
}

.social__icon--vk rect {
  fill: none;
  width: 60px;
  height: 60px;
  transition: fill 0.3s ease-in-out;
  -webkit-transition: fill 0.3s ease-in-out;
  -moz-transition: fill 0.3s ease-in-out;
  -ms-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
}

.social__icon--vk:focus {
  outline: 2px solid #FF9900;
  outline-offset: 6px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social__icon--vk:hover svg path {
  fill: #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social__icon--vk:active svg path {
  fill: #e1670e;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social__icon--vk:active svg rect {
  fill: none;
}

.social__icon--in rect {
  fill: none;
  width: 60px;
  height: 60px;
  transition: fill 0.3s ease-in-out;
  -webkit-transition: fill 0.3s ease-in-out;
  -moz-transition: fill 0.3s ease-in-out;
  -ms-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
}

.social__icon--in:focus {
  outline: 2px solid #FF9900;
  outline-offset: 6px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social__icon--in:hover svg path {
  fill: #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social__icon--in:active svg path {
  fill: #e1670e;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social__icon--in:active svg rect {
  fill: none;
}

.footer__form {
  max-width: 40%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.form__title {
  margin-bottom: 25px;
  color: #cacaca;
}

.form__imput {
  width: 570px;
  max-width: 100%;
  padding: 20px 47px 20px 22px;
  margin-bottom: 26px;
  background: #414141;
  outline: none;
  border: none;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}

.form__imput:focus {
  background-color: #666;
  outline: 2px solid #666;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.form__imput:hover {
  background-color: #666;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.form__imput:active {
  background-color: #666;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.form__textaria {
  height: 150px;
  resize: none;
  margin-bottom: 30px;
}

.button__form {
  padding: 19px 52px;
  margin-right: 15px;
  background: #ff9900;
  border: none;
  color: rgba(255, 255, 255, 1);
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}

.button__form:focus {
  background-color: #f7b045;
  outline: 2ps solid #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.button__form:hover {
  background-color: #f7b045;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.button__form:active {
  background-color: #e1670e;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.form__checkbox {
  position: relative;
  user-select: none;
  transform: translateX(1%) translateY(26%);
  -webkit-transform: translateX(1%) translateY(26%);
  -moz-transform: translateX(1%) translateY(26%);
  -ms-transform: translateX(1%) translateY(26%);
  -o-transform: translateX(1%) translateY(26%);
}

.form__checkbox-custom {
  position: absolute;
  left: 0%;
  top: 11%;
  width: 12px;
  height: 12px;
  opacity: 0;
}

.form__checkbox-desription {
  position: relative;
  border: 1px solid transparent;
  padding-left: 17px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #cacaca;
}

.form__checkbox-desription::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8%;
  border: 1px solid #cacaca;
  width: 12px;
  height: 12px;
}

.form__checkbox-desription::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8%;
  width: 12px;
  height: 12px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.form__checkbox-custom:checked+.form__checkbox-desription::after {
  opacity: 1;
}

.form__checkbox-custom:focus+.form__checkbox-desription {
  border-color: #ff9900;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.footer__right {
  display: flex;
  flex-wrap: wrap;
  max-width: 20%;
  padding-top: 84px;
}

.footer__right-description {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #cacaca;
}
