@media (max-width: 1870px) {
    .container {
        padding: 0 50px;
    }
    .about__description {
        max-width: 100%;
    }
    .square {
        padding: 29px 20px 36px 239px;
    }
    .square-1 {
        background-position: 3% 50%;
    }
    .square-2 {
        background-position: 3% 50%;
    }
}

@media (max-width: 1650px) {
    .suggest__info {
        padding: 30px 40px;
    }
    .suggest__description {
        text-align: left;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer__left {
        margin-right: 0;
    }
    .footer__right-description {
        line-height: 24px;
    }
}

@media (max-width: 1250px) {
    .nav__item:not(:last-child) {
        margin-right: 50px;
    }
    .hero__content {
        max-width: 80%;
    }
    .about__info {
        flex-direction: column;
    }
    .about__suggest {
        background-image: url("../img/about-img1024.jpg");
        max-width: 100%;
        min-height: 640px;
        margin-right: 0;
        margin-bottom: 33px;
    }
    .about__square {
        max-width: 100%;
    }
    .suggest__info {
        flex-direction: row;
        padding: 49px 40px;
    }
    .suggest__description {
        text-align: left;
        margin-bottom: 0;
        margin-right: 149px;
    }
    .square {
        padding: 64px 148px 66px 316px;
    }
    .square-1,
    .square-2 {
        background-position: 10% 50%;
    }
    .footer__left {
        max-width: 30%;
    }
    .footer__form {
        max-width: 55%;
    }
    .footer__right {
        display: none;
    }
}

@media (max-width: 1024px) {
    .header {
        padding-top: 22px;
        padding-bottom: 30px;
    }
    .header__logo {
        padding-top: 5px;
        width: 150px;
        height: 48px;
    }
    .nav__list {
        display: none;
    }
    .burger {
        display: flex;
        padding: 5px 0 0 0;
    }
    .button__header {
        display: flex;
    }
    .hero {
        padding-bottom: 82px;
    }
    .hero__banner {
        background-image: url("../img/slide-hover1-1024.jpg");
    }
    .content {
        padding-top: 158px;
    }
    .hero__content {
        max-width: 88%;
    }
    .content__heading {
        margin-bottom: 21px;
        font-size: 60px;
        line-height: 73px;
    }
    .content__description {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 57px;
    }
    .content__button {
        margin-bottom: 160px;
    }
    .about__title {
        margin-bottom: 7px;
    }
    .about__description {
        max-width: 100%;
        margin-bottom: 61px;
    }
    .about {
        padding-bottom: 85px;
    }
    .square {
        padding: 64px 136px 66px 316px;
    }
    .operate {
        padding-bottom: 75px;
    }
    .operate__bar {
        margin-bottom: 60px;
    }
    .info__heading {
        margin-bottom: 16px;
        line-height: 15px;
    }
    .info__description {
        max-width: 89%;
        margin-bottom: 24px;
    }
    .info__banner {
        background-image: url('../img/operate1-1024.jpg');
        min-width: 47%;
    }
    .questions {
        padding-bottom: 80px;
    }
    .questions__title {
        margin-bottom: 34px;
    }
    .accordion__title {
        font-size: 20px;
        margin-right: 97px;
    }
    .accordion__item {
        padding: 30px 0 30px 0;
    }
    .accordion__icon {
        right: 0px;
        flex-shrink: 0;
    }
    .footer__logo {
        margin-bottom: 23px;
    }
    .footer__form {
        max-width: 59%;
    }
    .form__textaria {
        margin-bottom: 36px;
    }
    .button__form {
        padding: 19px 38px;
    }
    .form__checkbox {
        transform: translateX(84%) translateY(-129%);
        -webkit-transform: translateX(84%) translateY(-129%);
        -moz-transform: translateX(84%) translateY(-129%);
        -ms-transform: translateX(84%) translateY(-129%);
        -o-transform: translateX(84%) translateY(-129%);
    }
}

@media (max-width: 992px) {
    .button__operate {
        margin-right: 6px;
    }
    .square {
        padding: 50px 55px 50px 316px;
    }
    .suggest__description {
        margin-right: 36px;
    }
    .form__title {
        font-size: 46px;
    }
    .form__checkbox {
        transform: translateX(-6%) translateY(29%);
        -webkit-transform: translateX(-6%) translateY(29%);
        -moz-transform: translateX(-6%) translateY(29%);
        -ms-transform: translateX(-6%) translateY(29%);
        -o-transform: translateX(-6%) translateY(29%);
    }
}

@media (max-width: 768px) {
    .header {
        padding-top: 7px;
        padding-bottom: 14px;
    }
    .hero__banner {
        background-image: url("../img/slider-hover-1-768.jpg");
    }
    .hero {
        padding-bottom: 84px;
    }
    .content {
        max-width: 94%;
        padding: 160px 1px 0 41px;
        margin-right: 0;
    }
    .content__button {
        margin-bottom: 158px;
    }
    .content__heading {
        margin-bottom: 17px;
        font-size: 50px;
        line-height: 61px;
    }
    .content__description {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 57px;
    }
    .about__description {
        max-width: 100%;
        margin-bottom: 62px;
    }
    .about__suggest {
        background-image: url("../img/about-img768.jpg");
        min-height: 650px;
        margin-right: 0px;
        margin-bottom: 34px;
    }
    .suggest__info {
        padding: 34px 40px;
    }
    .suggest__description {
        margin-right: 33px;
    }
    .square {
        padding: 35px 17px 36px 168px;
    }
    .square-1 {
        background-image: url("../img/Group-1-768.svg");
        background-repeat: no-repeat;
        background-position: 7% 48%;
    }
    .square-2 {
        background-image: url("../img/Group-2-768.svg");
        background-repeat: no-repeat;
        background-position: 7% 48%;
    }
    .about {
        padding-bottom: 80px;
    }
    .operate {
        padding-bottom: 80px;
    }
    .operate__title {
        margin-bottom: 46px;
    }
    .bar__list {
        display: flex;
        justify-content: space-between;
    }
    .bar__item {
        margin-right: 0;
    }
    .operate__bar {
        margin-bottom: 46px;
    }
    .info {
        display: flex;
        flex-direction: column-reverse;
    }
    .info__heading {
        margin-bottom: 16px;
        line-height: 15px;
    }
    .info__description {
        margin-bottom: 20px;
        max-width: 667px;
    }
    .info__banner {
        display: flex;
        height: 284px;
        min-width: 100%;
        background-image: url('../img/operate1-768.jpg');
        flex-direction: column-reverse;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
        margin-bottom: 51px;
    }
    .accordion__title {
        margin-right: 47px;
    }
    .accordion__icon {
        padding-left: 44px;
        transform: translateX(-6%) translateY(28%);
        -webkit-transform: translateX(-6%) translateY(28%);
        -moz-transform: translateX(-6%) translateY(28%);
        -ms-transform: translateX(-6%) translateY(28%);
        -o-transform: translateX(-6%) translateY(28%);
    }
    .cotainer__footer {
        flex-direction: column-reverse;
    }
    .footer__logo {
        width: 224px;
        margin-bottom: 12px;
    }
    .footer__nav {
        display: none;
    }
    .social__list {
        margin-bottom: 45px;
    }
    .form__imput {
        width: 543px;
    }
    .footer__form {
        max-width: 100%;
        margin-bottom: 50px;
    }
    .form__checkbox {
        transform: translateX(-4%) translateY(26%);
        -webkit-transform: translateX(-4%) translateY(26%);
        -moz-transform: translateX(-4%) translateY(26%);
        -ms-transform: translateX(-4%) translateY(26%);
        -o-transform: translateX(-4%) translateY(26%);
    }
    .form__textaria {
        margin-bottom: 33px;
    }
}

@media (max-width: 600px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 106px 42px 60px 42px;
        margin: 0;
    }
    .hero__content {
        max-width: 100%;
    }
    .suggest__info {
        flex-direction: column;
    }
    .square {
        padding: 10px 10px 10px 161px;
    }
    .button__operate {
        margin-right: 4px;
    }
    .suggest__info {
        align-items: flex-start;
    }
    .accordion__icon {
        transform: translateX(-3%) translateY(8%);
        -webkit-transform: translateX(-3%) translateY(8%);
        -moz-transform: translateX(-3%) translateY(8%);
        -ms-transform: translateX(-3%) translateY(8%);
        -o-transform: translateX(-3%) translateY(8%);
    }
    .button__form {
        margin-bottom: 29px;
    }
    .form__checkbox {
        margin-bottom: 50px;
        transform: translateX(-6%) translateY(14%);
        -webkit-transform: translateX(-6%) translateY(14%);
        -moz-transform: translateX(-6%) translateY(14%);
        -ms-transform: translateX(-6%) translateY(14%);
        -o-transform: translateX(-6%) translateY(14%);
    }
    .footer__logo {
        width: 224px;
    }
}

@media (max-width: 530px) {
    .container {
        padding: 0 31px;
    }
    .title {
        font-size: 34px;
        line-height: 48px;
    }
    .content__heading {
        font-size: 34px;
        line-height: 45px;
    }
    .content__button {
        padding: 9px 33px;
        font-size: 16px;
        margin-bottom: 0;
    }
    .about__suggest {
        max-width: 100%;
    }
    .suggest__info {
        padding: 10px 10px;
    }
    .suggest__description {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 26px;
    }
    .square {
        padding: 22px 10px 10px 127px;
    }
    .square-1,
    .square-2 {
        background-position: 3% 5%;
    }
    .square__description {
        line-height: 27px;
    }
    .info__heading {
        line-height: 36px;
    }
    .info__button {
        display: flex;
    }
    .footer__left {
        max-width: 100%;
        align-items: center;
    }
    .form__title {
        font-size: 35px;
    }
    .footer__form {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: none;
        padding: 0 15px;
    }
    .content {
        justify-content: center;
        padding: 60px 20px;
    }
    .title {
        font-size: 24px;
        line-height: 29px;
    }
    .header {
        padding: 8px 0 13px 0;
    }
    .header__logo {
        padding-top: 10px;
        width: 111px;
        height: 48px;
    }
    .hero {
        padding-bottom: 58px;
    }
    .hero__banner {
        background-image: url("../img/slide-hover-1-320.jpg");
    }
    .content__heading {
        margin-bottom: 7px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .content__description {
        margin-bottom: 34px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }
    .content__button {
        display: flex;
        align-items: center;
        padding: 13px 22px;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 15px;
    }
    .about {
        padding-bottom: 38px;
    }
    .about__suggest {
        background-image: url("../img/about-img320.jpg");
        background-position: inherit;
        background-size: inherit;
        min-height: 200px;
        margin-bottom: 25px;
    }
    .about__description {
        max-width: 100%;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 13px;
    }
    .about__title {
        margin-bottom: 21px;
    }
    .suggest__info {
        padding: 0;
        padding-top: 215px;
        align-items: flex-start;
        background: none;
    }
    .suggest__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        color: #333;
        margin: 0;
        margin-bottom: 8px;
    }
    .suggest__button {
        padding: 10px 43px;
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #ff9900;
        font-weight: 700;
    }
    .square {
        flex-direction: column;
        max-width: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }
    .square-1 {
        background-image: url("../img/Group-1-320.svg");
        background-repeat: no-repeat;
        background-position: 0% 3%;
    }
    .square-2 {
        background-image: url("../img/Group-2-320.svg");
        background-repeat: no-repeat;
        background-position: 0% 3%;
    }
    .square__title {
        padding-top: 66px;
        font-size: 18px;
        line-height: 22px;
    }
    .square__description {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 28px;
    }
    .operate__title {
        margin-bottom: 22px;
    }
    .operate__bar {
        margin-bottom: 16px;
    }
    .bar__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bar__item {
        font-size: 14px;
        line-height: 17px;
        margin-right: 21px;
    }
    .info__banner {
        height: 156px;
        min-width: 100%;
        background-image: url("../img/operate1-320.jpg");
        margin-bottom: 16px;
    }
    .info__heading {
        margin-bottom: 7px;
        font-size: 18px;
        line-height: 32px;
    }
    .info__description {
        font-size: 14px;
        line-height: 28px;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .info__button {
        display: flex;
        flex-direction: row;
    }
    .operate {
        padding-bottom: 46px;
    }
    .button__operate {
        padding: 12px 43px;
        margin-right: 13px;
        font-size: 12px;
        line-height: 15px;
    }
    .button__download {
        padding: 12px 30px;
        font-size: 12px;
        line-height: 15px;
    }
    .questions {
        padding-bottom: 61px;
    }
    .accordion__title {
        margin-right: 10px;
        font-size: 14px;
        line-height: 24px;
    }
    .questions__title {
        margin-bottom: 14px;
    }
    .accordion__icon {
        width: 30px;
        height: 30px;
        padding-left: 28px;
        transform: translateX(0%) translateY(14%);
        -webkit-transform: translateX(0%) translateY(14%);
        -moz-transform: translateX(0%) translateY(14%);
        -ms-transform: translateX(0%) translateY(14%);
        -o-transform: translateX(0%) translateY(14%);
    }
    .footer {
        padding: 0;
    }
    .footer__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0;
        padding-top: 16px;
    }
    .cotainer__footer {
        min-width: 290px;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 29px;
    }
    .footer__logo {
        display: flex;
    }
    .footer__form {
        border-bottom: 1px solid #595959;
        margin-bottom: 0px;
    }
    .button__form {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin: auto;
        padding: 12px 28px;
    }
    .form__imput {
        font-size: 14px;
        margin-bottom: 28px;
    }
    .form__checkbox {
        margin-bottom: 21px;
        transform: translateX(-4%) translateY(23%);
        -webkit-transform: translateX(-4%) translateY(23%);
        -moz-transform: translateX(-4%) translateY(23%);
        -ms-transform: translateX(-4%) translateY(23%);
        -o-transform: translateX(-4%) translateY(23%);
    }
    .form__checkbox-desription {
        font-size: 15px;
        line-height: 37px;
    }
    .footer__logo {
        width: 131px;
        margin-bottom: 10px;
    }
    .social__list {
        margin-bottom: 23px;
        padding-left: 8px;
    }
    .social__item {
        margin-right: 16px;
    }
    .fb {
        width: 40px;
        height: 40px;
    }
    .vk {
        width: 40px;
        height: 40px;
    }
    .in {
        width: 40px;
        height: 40px;
    }
}
